

.cabinet_expert_legend {
    color: rgb(0, 0, 0);
    padding: 3px 6px;
}

.cabinet_expert_fieldset{
    border: solid;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to top, #ffffff 0%, #ffa600 100%);
}

.input_style_adresse_cabinet_DO{
    width: 400px;
}

.input_style_cp_cabinet_DO{
    width: 100px;
}

.label_cabinet{
    margin-left: 20px;
}

.input_cabinet{
    margin-left: 20px;
}

.select_cabinet{
    margin-left: 20px;
}